@CHARSET "UTF-8";

body{
	background-image:url(../img/background_2.jpg);
	font-size: 100%;
}

#header
{
	position:absolute; 
	top: 5%; 
	left: 2.5%; 
	width:50%; 
	height:10%;
	color: white;
}

#playArea_login
{
	position:absolute; 
	top: 16%; 
	left: 2.5%; 
	width:46%; 
	height:65%;
	background-image:url(../img/paper3.jpg);
	
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;	
	padding-left: 2%;
	padding-right: 2%;

	
}

#playArea
{
	position:absolute; 
	top: 16%; 
	left: 2.5%; 
	width:50%; 
	height:55%;
	background-image:url(../img/paper3.jpg);
	
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;	
	
}

#katalog
{
	position:absolute; 
	top: 16%; 
	left: 55%; 
	width:14.5%; 
	height:29.5%;
	background-image:url(../img/paper3.jpg);

	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;	
	
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom:1.5%;
}

#katalogAuswahl
{
	height:70%;
	overflow-y: auto;
	line-height: 22px;
}

.kataloge{

}

#spielerliste
{
	position:absolute; 
	top: 51%; 
	left: 55%; 
	width:14.5%; 
	height:30%; 
	background-image:url(../img/paper3.jpg);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;	
	padding-left: 2%;
	padding-right: 2%;
	
}

#loginTextField
{
	position:absolute; 
	top: 40%; 
	left: 2%; 
	width:33%; 
	height:7.5%; 
	color: grey; 
}

#loginButton
{
	position:absolute; 
	top: 40%; 
	left: 37%;  
	width:15%; 
	height:10%; 
}
 
#footer
{	
	position:absolute; 
	top: 85%; 
	left: 2.5%; 
	width:50%; 
	height:10%; 
	color: white;
}

#playersTable
{
	border-spacing:50%;
}